@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,900&display=swap");

body{
    font-family: "Poppins", sans-serif;
}

.gradiente, .textoTotal{
    background: linear-gradient(to right, rgba(221,20,20,1) 0%, rgba(192,0,255,1) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

#btnSubmit{
    background: linear-gradient(99deg, rgba(221,20,156,1) 0%, rgba(119,10,154,1) 60%);
}

.form-control{
    border-bottom: 2px solid rgba(119,10,154,1);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: none;
}